<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.eamtrackerapp.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity android:exported="true"
            android:name="com.eamtrackerapp.app.modules.splashscreen.ui.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.eamtrackerapp.app.modules.forgotpassword.ui.ForgotpasswordActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.eamtrackerapp.app.modules.multilocation.ui.MultilocationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.eamtrackerapp.app.modules.register.ui.RegisterActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.eamtrackerapp.app.modules.workprogress.ui.WorkprogressActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.eamtrackerapp.app.modules.signatureapproval.ui.SignatureapprovalActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.eamtrackerapp.app.modules.locationtracking.ui.LocationtrackingActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/str_maps_api_key"/>
        <activity
            android:name="com.eamtrackerapp.app.modules.dashboard.ui.DashboardActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.eamtrackerapp.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.eamtrackerapp.app.modules.tasklist.ui.TasklistActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
